@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu:wght@300;400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", "Apple", "Courier New", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: url("../assets/fahrenheitBG.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(10px); /* Ubah nilai sesuai keinginan */
  }

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #162938;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #162938;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
    font-weight: 800;
    margin-left: 50px;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #162938;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.icon img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}

.wrapper {
    margin-top: 230px;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.button button{
    width: 30%;
    height: 45px;
    display: inline-block;
    margin-right: 3px;
    background: #162938;
    color: bisque;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 350;
}

.button :hover{
    width: 30%;
    height: 45px;
    display: inline-block;
    margin-right: 3px;
    background: bisque;
    color: #162938;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .5s;
}

.input-box {
    position: relative;
}

.input-box.active {
    animation: fadeInOut 0.5s ease-in-out;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px);
    }
}